<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="card" *ngIf = "!noResult">
    <div class="firstinfo">     
      <div class="profileinfo">
        <h1>{{stockDetail?.company.name}} ({{stockDetail?.username}})</h1>
        <h3>"{{stockDetail?.company.bs}}"</h3>        
        <p class="bio">{{stockDetail?.company.catchPhrase}}</p>
        <h6>{{stockDetail?.email}}</h6>
      </div>
    </div>
  </div>
  <div class="badgescard col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf = "noResult"> 
    <span class="devicons devicons-django">{{noResultMessage}}</span>    
  </div>  
</div>
