<footer class="footer-distributed">

			<div class="footer-left">

				<h3>SVK<span>Dashboard</span></h3>			

				<p class="footer-company-name">{{companyName}} &copy; {{copyrightYear}}</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>{{location}}</span> {{city}}, {{country}}</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>{{phone}}</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@svkDashboard.com">{{email}}</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Making a simple Angular 2 dashboard for all
      	</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>