.centric{
    text-align: center;
    color: whitesmoke;
    background-color: #33383b;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;  
  border-radius: 4px;
  font-size: small;
}
nav a:visited, a:link {
  color: pink;
}
nav a:hover {
   color: #33383b;
  background-color: whitesmoke;
  cursor: pointer;
}
nav a.active {
  color: #33383b;
   background-color: whitesmoke;
}