.centric{
    text-align: center;
    color: cyan;
    background-color: black;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;  
  border-radius: 4px;
}
nav a:visited, a:link {
  color: pink;
}
nav a:hover {
   color: black;
  background-color: skyblue;
  cursor: pointer;
}
nav a.active {
  color: black;
  background-color: #CFD8DC;
}