<div class="container">
 <h3>Full List of Companies</h3>
 <table class="table table-condensed table-hover" border="4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Firm ID</th>       
        <th class="hidden-xs hidden-sm">Company Email</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of listOfTopUsers" >
        <td>{{user?.id}}</td>
        <td>{{user?.company.name}}</td> 
        <td>{{user?.username}}</td>       
        <td class="hidden-xs hidden-sm">{{user?.email}}</td>        
      </tr>      
    </tbody>
  </table>
</div>